<div class="wrapper">
    <img class="frame" src="phone-frame.png" {alt} />
    <img class="screenshot" src={image} {alt} />
</div>

<style>
    .wrapper {
        position: relative;
    }

    .frame {
        width: 180px;
        position: relative;
        z-index: 1;
    }

    @media (max-width: 430px) {
        .frame {
            display: none;
        }

        .wrapper {
            height: 200px;
            overflow: hidden;
            border: 1px solid white;
        }

        .screenshot {
            width: 100%;
        }
    }

    @media (min-width: 431px) {
        .screenshot {
            position: absolute;
            width: 172px;
            left: 4px;
            top: 19px;
        }
    }
</style>